# Week 3 Homework
## Sage Madden
## Created 10/13/2021

In [1]:
# Read in pandas library
import pandas as pd

In [8]:
# Load in surveys data
surveys = pd.read_csv("../data/portal_data_joined.csv")
surveys.head

<bound method NDFrame.head of        record_id  month  day  year  plot_id species_id  sex  hindfoot_length  \
0              1      7   16  1977        2         NL    M             32.0
1             72      8   19  1977        2         NL    M             31.0
2            224      9   13  1977        2         NL  NaN              NaN
3            266     10   16  1977        2         NL  NaN              NaN
4            349     11   12  1977        2         NL  NaN              NaN
...          ...    ...  ...   ...      ...        ...  ...              ...
34781      26966     10   25  1997        7         PL    M             20.0
34782      27185     11   22  1997        7         PL    F             21.0
34783      27792      5    2  1998        7         PL    F             20.0
34784      28806     11   21  1998        7         PX  NaN              NaN
34785      30986      7    1  2000        7         PX  NaN              NaN

       weight        genus   species    taxa         plot_type
0         NaN      Neotoma  albigula  Rodent           Control
1         NaN      Neotoma  albigula  Rodent           Control
2         NaN      Neotoma  albigula  Rodent           Control
3         NaN      Neotoma  albigula  Rodent           Control
4         NaN      Neotoma  albigula  Rodent           Control
...       ...          ...       ...     ...               ...
34781    16.0   Peromyscus  leucopus  Rodent  Rodent Exclosure
34782    22.0   Peromyscus  leucopus  Rodent  Rodent Exclosure
34783     8.0   Peromyscus  leucopus  Rodent  Rodent Exclosure
34784     NaN  Chaetodipus       sp.  Rodent  Rodent Exclosure
34785     NaN  Chaetodipus       sp.  Rodent  Rodent Exclosure

[34786 rows x 13 columns]>

In [70]:
# Create a new data frame (surveys_base) containing only species_id, weight, and plot_type
# Also include only the first 60 rows
surveys_base = surveys[["species_id", "weight", "plot_type"]].iloc[0:60 ]

# Get column names
print(list(surveys_base.columns.values))

# Get the number of rows
print(surveys_base.shape[0])

['species_id', 'weight', 'plot_type']
60

In [71]:
# Original assignment: convert species_id and plot_type to factors
# Factors do not exist in base python, but there is a function from pandas that casts categorical variables as numbers in a way that
# seems equivalent to R factors 
surveys_base_stacked = surveys_base[["species_id","plot_type"]].stack()
print(surveys_base_stacked.head)
print(type(surveys_base_stacked))
# .stack() returns a reshaped df with a multi-level index and new inner levels compared to the original dataframe

surveys_base[["species_id","plot_type"]] = pd.Series(surveys_base_stacked.factorize()[0], index = surveys_base_stacked.index).unstack()
# pd.Series creates a ond-dimensional array with axis labels (??)
# factorize() casts categorical variables as numbers. It results in an array of numerical values and a correspond array with 
# the categories (I think)
# df[0] gets the first data frame in a list of dataframes 
# Without .unstack(), I get repeating elements like this:
# 0 species_id    0
#   plot_type     1


print(surveys_base.head(n=5))
print(type(surveys_base["species_id"]))

<bound method NDFrame.head of 0   species_id         NL
    plot_type     Control
1   species_id         NL
    plot_type     Control
2   species_id         NL
                   ...
57  plot_type     Control
58  species_id         NL
    plot_type     Control
59  species_id         NL
    plot_type     Control
Length: 120, dtype: object>
<class 'pandas.core.series.Series'>
   species_id  weight  plot_type
0           0     NaN          1
1           0     NaN          1
2           0     NaN          1
3           0     NaN          1
4           0     NaN          1
<class 'pandas.core.series.Series'>

In [72]:
# Remove all rows with NAs in the weight column
print(surveys_base.head(n=10))

surveys_base = surveys_base.dropna(subset = ["weight"])
print(surveys_base.head(n=10))

   species_id  weight  plot_type
0           0     NaN          1
1           0     NaN          1
2           0     NaN          1
3           0     NaN          1
4           0     NaN          1
5           0     NaN          1
6           0     NaN          1
7           0     NaN          1
8           0   218.0          1
9           0     NaN          1
    species_id  weight  plot_type
8            0   218.0          1
11           0   204.0          1
12           0   200.0          1
13           0   199.0          1
14           0   197.0          1
16           0   218.0          1
17           0   166.0          1
18           0   184.0          1
19           0   206.0          1
20           0   274.0          1

In [78]:
# Create second dataframe only containing individuals with wieghts greater than 150 grams
challenge_base = surveys_base[surveys_base["weight"] > 150]
print(challenge_base.head)

<bound method NDFrame.head of     species_id  weight  plot_type
8            0   218.0          1
11           0   204.0          1
12           0   200.0          1
13           0   199.0          1
14           0   197.0          1
16           0   218.0          1
17           0   166.0          1
18           0   184.0          1
19           0   206.0          1
20           0   274.0          1
21           0   186.0          1
22           0   184.0          1
25           0   174.0          1
27           0   208.0          1
28           0   192.0          1
29           0   206.0          1
30           0   165.0          1
31           0   202.0          1
32           0   211.0          1
35           0   222.0          1
38           0   219.0          1
40           0   152.0          1
44           0   161.0          1
46           0   151.0          1
47           0   175.0          1
48           0   158.0          1
49           0   164.0          1
51           0   157.0          1
55           0   151.0          1
56           0   173.0          1
59           0   186.0          1>