# Week 3 Practice
## Sage Madden
## Created 10/7/2021

In [2]:
# Import numpy for working with arrays
import numpy as np

# Import pandas for working with dataframes
import pandas as pd

In [ ]:
# Find where my file is located
pwd

In [17]:
# Read in the portal data as surveys
surveys = pd.read_csv("../data/portal_data_joined.csv")

In [18]:
# View the first few roles
print(surveys.head())

# View the data type of surveys
print(type(surveys))

# View data types of different columns
print(surveys.dtypes)

   record_id  month  day  year  plot_id species_id  sex  hindfoot_length  \
0          1      7   16  1977        2         NL    M             32.0
1         72      8   19  1977        2         NL    M             31.0
2        224      9   13  1977        2         NL  NaN              NaN
3        266     10   16  1977        2         NL  NaN              NaN
4        349     11   12  1977        2         NL  NaN              NaN

   weight    genus   species    taxa plot_type
0     NaN  Neotoma  albigula  Rodent   Control
1     NaN  Neotoma  albigula  Rodent   Control
2     NaN  Neotoma  albigula  Rodent   Control
3     NaN  Neotoma  albigula  Rodent   Control
4     NaN  Neotoma  albigula  Rodent   Control
<class 'pandas.core.frame.DataFrame'>
record_id            int64
month                int64
day                  int64
year                 int64
plot_id              int64
species_id          object
sex                 object
hindfoot_length    float64
weight             float64
genus               object
species             object
taxa                object
plot_type           object
dtype: object

In [29]:
# Subsetting practice
# Row at index 0, column at index 1
print(surveys.iloc[0, 1])

# Unique observations in species 
print(pd.unique(surveys['species']))
print(pd.unique(surveys['species']).size)

7
['albigula' 'merriami' 'flavus' 'eremicus' 'spectabilis' 'penicillatus'
 'hispidus' 'torridus' 'ordii' 'sp.' 'spilosoma' 'leucogaster' 'megalotis'
 'audubonii' 'maniculatus' 'harrisi' 'bilineata' 'melanocorys' 'squamata'
 'fulvescens' 'taylori' 'montanus' 'ochrognathus' 'baileyi'
 'brunneicapillus' 'chlorurus' 'fulviventer' 'intermedius' 'leucopus'
 'viridis' 'gramineus' 'savannarum' 'leucophrys' 'scutalatus' 'undulatus'
 'fuscus' 'tereticaudus' 'tigris' 'clarki' 'uniparens']
40

In [31]:
# Mapping categorical variables
print(surveys.head())
surveys.species.astype("category").cat.codes

   record_id  month  day  year  plot_id species_id  sex  hindfoot_length  \
0          1      7   16  1977        2         NL    M             32.0
1         72      8   19  1977        2         NL    M             31.0
2        224      9   13  1977        2         NL  NaN              NaN
3        266     10   16  1977        2         NL  NaN              NaN
4        349     11   12  1977        2         NL  NaN              NaN

   weight    genus   species    taxa plot_type
0     NaN  Neotoma  albigula  Rodent   Control
1     NaN  Neotoma  albigula  Rodent   Control
2     NaN  Neotoma  albigula  Rodent   Control
3     NaN  Neotoma  albigula  Rodent   Control
4     NaN  Neotoma  albigula  Rodent   Control

0         0
1         0
2         0
3         0
4         0
         ..
34781    18
34782    18
34783    18
34784    29
34785    29
Length: 34786, dtype: int8

In [47]:
# New df called surveys_200 containing row 200 (AKA 199 if indexing from 0)
surveys_200 = surveys.iloc[199, ]
print(surveys_200)

record_id             35212
month                    12
day                       7
year                   2002
plot_id                   2
species_id               NL
sex                       M
hindfoot_length          33
weight                  248
genus               Neotoma
species            albigula
taxa                 Rodent
plot_type           Control
Name: 199, dtype: object

In [48]:
# New df called surveys last with only the last row of surveys 
surveys_last = surveys.iloc[-1, ]
print(surveys_last)
surveys.tail

record_id                     30986
month                             7
day                               1
year                           2000
plot_id                           7
species_id                       PX
sex                             NaN
hindfoot_length                 NaN
weight                          NaN
genus                   Chaetodipus
species                         sp.
taxa                         Rodent
plot_type          Rodent Exclosure
Name: 34785, dtype: object

<bound method NDFrame.tail of        record_id  month  day  year  plot_id species_id  sex  hindfoot_length  \
0              1      7   16  1977        2         NL    M             32.0
1             72      8   19  1977        2         NL    M             31.0
2            224      9   13  1977        2         NL  NaN              NaN
3            266     10   16  1977        2         NL  NaN              NaN
4            349     11   12  1977        2         NL  NaN              NaN
...          ...    ...  ...   ...      ...        ...  ...              ...
34781      26966     10   25  1997        7         PL    M             20.0
34782      27185     11   22  1997        7         PL    F             21.0
34783      27792      5    2  1998        7         PL    F             20.0
34784      28806     11   21  1998        7         PX  NaN              NaN
34785      30986      7    1  2000        7         PX  NaN              NaN

       weight        genus   species    taxa         plot_type
0         NaN      Neotoma  albigula  Rodent           Control
1         NaN      Neotoma  albigula  Rodent           Control
2         NaN      Neotoma  albigula  Rodent           Control
3         NaN      Neotoma  albigula  Rodent           Control
4         NaN      Neotoma  albigula  Rodent           Control
...       ...          ...       ...     ...               ...
34781    16.0   Peromyscus  leucopus  Rodent  Rodent Exclosure
34782    22.0   Peromyscus  leucopus  Rodent  Rodent Exclosure
34783     8.0   Peromyscus  leucopus  Rodent  Rodent Exclosure
34784     NaN  Chaetodipus       sp.  Rodent  Rodent Exclosure
34785     NaN  Chaetodipus       sp.  Rodent  Rodent Exclosure

[34786 rows x 13 columns]>

In [50]:
# Create new df containing the middle row

# Number of rows
print(surveys.shape[0]) 
print(int(surveys.shape[0]/2)-1)

#Number of columns 
print(surveys.shape[1])

# Subset to get middle row
# I need to subtract 1 because the language indexes from 0
surveys_middle = surveys.iloc[int(surveys.shape[0]/2)-1, ]
print(surveys_middle)

34786
17392
13
record_id                9828
month                       1
day                        19
year                     1985
plot_id                    14
species_id                 AB
sex                       NaN
hindfoot_length           NaN
weight                    NaN
genus              Amphispiza
species             bilineata
taxa                     Bird
plot_type             Control
Name: 17392, dtype: object