# Week 4 practice
## Sage Madden
## 10/14/2021

In [1]:
# Import libraries
import pandas as pd
from dplython import (DplyFrame, X, diamonds, select, sift,
  sample_n, sample_frac, head, arrange, mutate, group_by,
  summarize, DelayFunction)

In [2]:
# Read in survyes
surveys_original = DplyFrame(pd.read_csv("../data/portal_data_joined.csv"))

In [4]:
# Keep only observations before 1995
# Also keep on year, sex, weight
surveys = surveys_original >> sift(X.year < 1995) >> select(X.year, X.sex, X.weight)
print(surveys.head)

<bound method NDFrame.head of        year  sex  weight
0      1977    M     NaN
1      1977    M     NaN
2      1977  NaN     NaN
3      1977  NaN     NaN
4      1977  NaN     NaN
...     ...  ...     ...
34750  1992  NaN     NaN
34752  1989    M    11.0
34753  1989    F    15.0
34754  1992  NaN     NaN
34756  1993  NaN     NaN

[21486 rows x 3 columns]>

In [5]:
# Create a new df that
# Contains only the species_id column
# And a new column called hindfoot_half containiong values that are half the hindfoot
# In this hindfoot_half column, there are no NAs and all values are less than 30
# Name it surveys_hindfoot_half
surveys_hindfoot_half = surveys_original >> sift(X.hindfoot_length.isna() == False) >> mutate(hindfoot_half = (X.hindfoot_length / 2)) >> sift(X.hindfoot_half < 30) >> select(X.species_id, X.hindfoot_half)
surveys_hindfoot_half.head()

# I haven't figured out how to indent when piping in python...

   species_id  hindfoot_half
0          NL           16.0
1          NL           15.5
11         NL           16.0
13         NL           17.0
14         NL           16.0

In [6]:
# Use group_by and summarize to find mean, min, and max of hindfoot length for each species
species_summ = surveys_original >> sift(X.hindfoot_length.isna() == False) >> group_by(X.species_id) >> summarize(hindfoot_mean = X.hindfoot_length.mean(),
                                                                                                                hindfoot_max = X.hindfoot_length.max(),   
                                                                                                                hindfoot_min = X.hindfoot_length.min())
print(species_summ.head)

<bound method NDFrame.head of    species_id  hindfoot_mean  hindfoot_max  hindfoot_min
0          AH      33.000000          35.0          31.0
1          BA      13.000000          16.0           6.0
2          DM      35.982351          50.0          16.0
3          DO      35.607551          64.0          26.0
4          DS      49.948874          58.0          39.0
5          NL      32.294227          70.0          21.0
6          OL      20.532609          39.0          12.0
7          OT      20.267415          50.0          13.0
8          OX      19.125000          21.0          13.0
9          PB      26.115922          47.0           2.0
10         PE      20.195545          30.0          11.0
11         PF      15.583389          38.0           7.0
12         PH      25.774194          28.0          22.0
13         PI      22.222222          23.0          20.0
14         PL      20.027778          22.0          10.0
15         PM      20.426210          36.0          16.0
16         PP      21.751569          41.0          11.0
17         PX      19.500000          20.0          19.0
18         RF      17.520548          20.0          15.0
19         RM      16.441851          22.0           6.0
20         RO      15.375000          17.0          14.0
21         RX      18.500000          20.0          17.0
22         SF      26.707317          38.0          21.0
23         SH      28.549618          39.0          20.0
24         SO      25.658537          36.0          15.0>