# Week 5 practice
## Sage Madden
## 10/21/2021

In [8]:
# Import libraries
import pandas as pd
from dplython import (DplyFrame, X, diamonds, select, sift,
  sample_n, sample_frac, head, arrange, mutate, group_by,
  summarize, DelayFunction)
import numpy as np

In [9]:
# Not sure how to get iris on python, so working with others

In [15]:
# Join surveys and tail length
# Read in data
surveys = DplyFrame(pd.read_csv("../data/portal_data_joined.csv"))
tail_length = DplyFrame(pd.read_csv("../data/tail_length.csv"))

# View column names for each
print(surveys.columns)
print(tail_length.columns)

# Join the two 
combo_df = surveys.merge(tail_length, how = "left", left_on = ["record_id"], right_on = ["record_id"])
print(combo_df.head)

Index(['record_id', 'month', 'day', 'year', 'plot_id', 'species_id', 'sex',
       'hindfoot_length', 'weight', 'genus', 'species', 'taxa', 'plot_type'],
      dtype='object')
Index(['record_id', 'tail_length'], dtype='object')
<bound method NDFrame.head of        record_id  month  day  year  plot_id species_id  sex  hindfoot_length  \
0              1      7   16  1977        2         NL    M             32.0
1             72      8   19  1977        2         NL    M             31.0
2            224      9   13  1977        2         NL  NaN              NaN
3            266     10   16  1977        2         NL  NaN              NaN
4            349     11   12  1977        2         NL  NaN              NaN
...          ...    ...  ...   ...      ...        ...  ...              ...
34781      26966     10   25  1997        7         PL    M             20.0
34782      27185     11   22  1997        7         PL    F             21.0
34783      27792      5    2  1998        7         PL    F             20.0
34784      28806     11   21  1998        7         PX  NaN              NaN
34785      30986      7    1  2000        7         PX  NaN              NaN

       weight        genus   species    taxa         plot_type  tail_length
0         NaN      Neotoma  albigula  Rodent           Control     8.458136
1         NaN      Neotoma  albigula  Rodent           Control     6.272559
2         NaN      Neotoma  albigula  Rodent           Control     7.468985
3         NaN      Neotoma  albigula  Rodent           Control     6.452339
4         NaN      Neotoma  albigula  Rodent           Control     8.064031
...       ...          ...       ...     ...               ...          ...
34781    16.0   Peromyscus  leucopus  Rodent  Rodent Exclosure     8.732849
34782    22.0   Peromyscus  leucopus  Rodent  Rodent Exclosure     7.228909
34783     8.0   Peromyscus  leucopus  Rodent  Rodent Exclosure     8.010974
34784     NaN  Chaetodipus       sp.  Rodent  Rodent Exclosure     8.414485
34785     NaN  Chaetodipus       sp.  Rodent  Rodent Exclosure    10.270512

[34786 rows x 14 columns]>

Use pivot_wider on the surveys data frame with year as columns, plot_id as rows, and the number of genera per plot as the values. You will need to summarize before reshaping, and use the function n_distinct() to get the number of unique genera within a particular chunk of data. Itâ€™s a powerful function! See ?n_distinct for more.

In [28]:
# Get number of unique genera by year and plot_id
temp_df = surveys.groupby(["year", "plot_id"])["genus"].nunique().reset_index()
print(temp_df)

# Pivot wide
temp_pivoted = temp_df.pivot(index = "plot_id", columns = "year", values = "genus") 
print(temp_pivoted.head)

     year  plot_id  genus
0    1977        1      2
1    1977        2      6
2    1977        3      5
3    1977        4      4
4    1977        5      4
..    ...      ...    ...
614  2002       20      7
615  2002       21      3
616  2002       22      5
617  2002       23      5
618  2002       24      6

[619 rows x 3 columns]
<bound method NDFrame.head of year     1977  1978  1979  1980  1981  1982  1983  1984  1985  1986  ...  \
plot_id                                                              ...
1         2.0   3.0   4.0   7.0   5.0   6.0   7.0   6.0   4.0   3.0  ...
2         6.0   6.0   6.0   8.0   5.0   9.0   9.0   9.0   6.0   4.0  ...
3         5.0   6.0   4.0   6.0   6.0   8.0  10.0  11.0   7.0   6.0  ...
4         4.0   4.0   3.0   4.0   5.0   4.0   6.0   3.0   4.0   3.0  ...
5         4.0   3.0   2.0   5.0   4.0   6.0   7.0   7.0   3.0   1.0  ...
6         3.0   4.0   3.0   4.0   5.0   9.0   9.0   7.0   5.0   6.0  ...
7         3.0   1.0   3.0   1.0   1.0   4.0   2.0   3.0   4.0   3.0  ...
8         2.0   4.0   3.0   5.0   6.0   6.0   4.0   6.0   4.0   3.0  ...
9         3.0   3.0   3.0   4.0   5.0   6.0   7.0   4.0   5.0   3.0  ...
10        1.0   NaN   2.0   5.0   5.0   8.0   4.0   2.0   3.0   1.0  ...
11        5.0   6.0   5.0   6.0   8.0   8.0   9.0   7.0   5.0   6.0  ...
12        5.0   4.0   4.0   5.0   7.0  10.0   9.0   9.0   8.0   7.0  ...
13        3.0   6.0   5.0   6.0   5.0   7.0   7.0   6.0   4.0   8.0  ...
14        3.0   5.0   4.0   3.0   6.0   9.0   6.0   6.0   7.0   5.0  ...
15        2.0   5.0   5.0   4.0   9.0   8.0   8.0   8.0   5.0   5.0  ...
16        3.0   2.0   2.0   3.0   3.0   8.0   5.0   3.0   4.0   7.0  ...
17        4.0   6.0   4.0   6.0   7.0   6.0   8.0   6.0   6.0   5.0  ...
18        2.0   7.0   4.0   6.0   4.0   9.0   5.0   5.0   5.0   6.0  ...
19        4.0   4.0   5.0   7.0   6.0   7.0   6.0   4.0   8.0   4.0  ...
20        3.0   6.0   6.0   7.0   8.0  10.0   9.0   6.0   5.0   7.0  ...
21        3.0   4.0   4.0   6.0   6.0   7.0   8.0   4.0   7.0   5.0  ...
22        4.0   4.0   3.0   6.0   4.0   5.0   7.0   5.0   7.0   4.0  ...
23        1.0   NaN   2.0   4.0   4.0   9.0   5.0   5.0   3.0   5.0  ...
24        NaN   NaN   4.0   6.0   5.0   7.0   9.0   6.0   8.0   5.0  ...

year     1993  1994  1995  1996  1997  1998  1999  2000  2001  2002
plot_id
1         5.0   6.0   5.0   5.0   7.0   5.0   5.0   5.0   4.0   6.0
2         8.0   5.0   6.0   7.0   7.0   5.0   6.0   7.0   7.0   7.0
3         6.0   5.0   6.0   7.0   8.0   7.0   5.0   4.0   5.0   5.0
4         3.0   3.0   4.0   6.0   8.0   4.0   4.0   5.0   5.0   5.0
5         4.0   5.0   8.0   7.0   6.0   6.0   3.0   3.0   2.0   4.0
6         5.0   4.0   7.0   6.0  10.0   5.0   5.0   4.0   5.0   9.0
7         4.0   4.0   5.0   4.0   5.0   4.0   3.0   4.0   6.0   5.0
8         4.0   6.0   6.0   6.0   6.0   4.0   5.0   3.0   4.0   3.0
9         2.0   4.0   5.0   7.0   8.0   7.0   3.0   7.0   5.0   7.0
10        1.0   2.0   3.0   2.0   3.0   2.0   1.0   2.0   NaN   2.0
11        4.0   2.0   6.0   7.0   7.0   5.0   5.0   3.0   5.0   8.0
12        7.0   3.0   7.0   9.0   8.0   6.0   7.0   6.0   5.0   7.0
13        9.0   6.0   8.0   8.0   6.0   6.0   3.0   3.0   4.0   8.0
14        6.0   4.0   5.0   6.0   8.0   7.0   4.0   4.0   8.0   7.0
15        6.0   5.0   7.0   6.0   8.0   7.0   4.0   6.0   5.0   8.0
16        5.0   3.0   4.0   5.0   5.0   6.0   3.0   6.0   5.0   7.0
17        7.0   4.0   7.0   7.0   8.0   7.0   6.0   4.0   7.0   6.0
18        5.0   4.0   4.0   3.0   7.0   4.0   4.0   7.0   5.0   6.0
19        5.0   4.0   4.0   5.0   5.0   5.0   4.0   2.0   7.0   8.0
20        6.0   6.0   8.0   6.0   7.0   8.0   6.0   4.0   9.0   7.0
21        4.0   3.0   4.0   6.0   6.0   8.0   6.0   1.0   3.0   3.0
22        4.0   3.0   7.0   4.0   7.0   5.0   3.0   3.0   5.0   5.0
23        3.0   2.0   5.0   5.0   4.0   2.0   4.0   2.0   6.0   5.0
24        4.0   4.0   3.0   3.0   6.0   5.0   4.0   6.0   8.0   6.0

[24 rows x 26 columns]>